<html>
    <body>
        <% for (i in allComp) { %>
            <b>Building</b> <%= allComp[i].building %> <br>
            <b>Location</b><%= allComp[i].location %> <br>
            <b>Complaint</b><%= allComp[i].complaint %> <br>
            <b>Name</b><%= allComp[i].name %> <br>
            <b>Mobile no:</b><%= allComp[i].mobile %> <br>
            <b>Suitable Time</b><%= allComp[i].time %> <br>
            
            <br>
            <hr>
        <% } %>
    </body>
</html>