<%- include common/header.ejs -%>

<section class="content" id="complaint-section">
  <p>Following are the Civil Complaints for 8.1K Building</p>

  <div class="table-container">
    <table class="user-data">
      <tr>
        <th>ID</th>
        <th>Building</th>
        <th>Location</th>
        <th>Complaint</th>
        <th>Name</th>
        <th>Mobile No.</th>
        <th>Suitable Time</th>
        <th>Status</th>
      </tr>

      <% for(i in allComp){%>
      <tr>
        <td><%= allComp[i]._id %></td>
        <td><%= allComp[i].building %></td>
        <td><%= allComp[i].location %></td>
        <td><%= allComp[i].complaint %></td>
        <td><%= allComp[i].name %></td>
        <td><%= allComp[i].mobile %></td>
        <td><%= allComp[i].time %></td>
        <td><input type="checkbox" name="status" /></td>
      </tr>
      <%}%>
      </table>
  </div>

 
</section>
<%- include common/footer -%>