<html>
    <body>
        <p>Fixed</p>
        <% for (i in allComp) { if(allComp[i].status == 1) { %>
            <%= allComp[i].department %>
            <%= allComp[i].room_no %>
            <%= allComp[i].complaint %>
            <% } %>
            <br>
        <% } %>
        <p>Not Fixed</p>
        <% for (i in allComp) { if(allComp[i].status == 0) { %>
            <%= allComp[i].department %>
            <%= allComp[i].room_no %>
            <%= allComp[i].complaint %>
            <% } %>
            <br>
        <% } %>
    </body>
</html>